<AuthorizeView>
    <Authorized>
        <a href="https://docs.microsoft.com/aspnet/">About</a>
        <a href="/logout">Log out</a>
        <a href="/test">Test</a>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/test">Test</a>
    </NotAuthorized>
</AuthorizeView>