@using RChat.UI.Pages
@inherits MainLayoutComponent;
<RadzenNotification />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>

        <div class="top-row px-4">
            <NavBar></NavBar>
        </div>
        <article class="content px-4">
            <CascadingValue Value="SignalClientService">

                @Body
            </CascadingValue>
        </article>
    </main>
</div>