@page "/change-password"
@using RChat.UI.Pages.Account;
@inherits ChangePasswordFormComponent
<h3>Change Password</h3>

<EditForm class="form-control" Model="@ViewModel" OnValidSubmit="async () => await SubmitFormAsync()">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @if (ShowMessage)
    {
        <h5 class="text-info">@Message</h5>
        <hr>
    }
    <div>
        <label class="form-label" for="CurrentPassword">Current password: </label>
        <InputText class="input-group-text" type="password" id="CurrentPassword" @bind-Value="ViewModel.CurrentPassword" />
    </div>
    <br>
    <div>
        <label class="form-label" for="NewPassword">New password: </label>
        <InputText class="input-group-text" id="NewPassword" type="password" @bind-Value="ViewModel.NewPassword" />
    </div>
    <div>
        <label class="form-label" for="ConfirmNewPassword">Confirm new password: </label>
        <InputText class="input-group-text" id="ConfirmNewPassword" type="password" @bind-Value="ViewModel.ConfirmNewPassword" />
    </div>
    <br>
    <div>
        <button class="btn-primary" type="submit">Submit</button>
    </div>
</EditForm>
