@page "/change-password"
@using RChat.UI.Pages.Account
@inherits ChangePasswordFormComponent
@attribute [Authorize]

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Change Password</h3>

                    <EditForm Model="@ViewModel" OnValidSubmit="async () => await SubmitFormAsync()">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="mb-3">
                            <label class="form-label" for="CurrentPassword">Current Password:</label>
                            <InputText class="form-control" type="password" id="CurrentPassword" @bind-Value="ViewModel.CurrentPassword" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="NewPassword">New Password:</label>
                            <InputText class="form-control" id="NewPassword" type="password" @bind-Value="ViewModel.NewPassword" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="ConfirmNewPassword">Confirm New Password:</label>
                            <InputText class="form-control" id="ConfirmNewPassword" type="password" @bind-Value="ViewModel.ConfirmNewPassword" />
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        margin-top: 50px;
    }

    .card {
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        color: #007bff;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
</style>
