@page "/profile"
@using RChat.UI.Pages.Account;
@inherits PersonalPageComponent
@attribute [Authorize]
<h3>Personal Information</h3>

<p>Your name: @ViewModel.UserName</p>
<p>Your email: @ViewModel.Email</p>
<p>your phone number: @(ViewModel.PhoneNumber ?? "Not set yet!")</p>
<br>
<a href="update-profile" class="btn btn-primary">Update profile</a>